.commerce,
.commerce *,
.commerce ::before,
.commerce ::after {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:  ;
}

.commerce ::backdrop {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:  ;
}

/*
! tailwindcss v3.4.14 | MIT License | https://tailwindcss.com
*/

/*
1. Prevent padding and border from affecting element width. (https://github.com/mozdevs/cssremedy/issues/4)
2. Allow adding a border to an element by just adding a border-width. (https://github.com/tailwindcss/tailwindcss/pull/116)
*/

.commerce,
.commerce *,
.commerce ::before,
.commerce ::after {
  box-sizing: border-box;
  /* 1 */
  border-width: 0;
  /* 2 */
  border-style: solid;
  /* 2 */
  border-color: #e5e7eb;
  /* 2 */
}

.commerce ::before,
.commerce ::after {
  --tw-content: "";
}

/*
1. Use a consistent sensible line-height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size.
4. Use the user's configured `sans` font-family by default.
5. Use the user's configured `sans` font-feature-settings by default.
6. Use the user's configured `sans` font-variation-settings by default.
7. Disable tap highlights on iOS
*/

/*
1. Remove the margin in all browsers.
2. Inherit line-height from `html` so users can set them as a class directly on the `html` element.
*/

/*
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
3. Ensure horizontal rules are visible by default.
*/

.commerce hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
  border-top-width: 1px;
  /* 3 */
}

/*
Add the correct text decoration in Chrome, Edge, and Safari.
*/

.commerce abbr:where([title]) {
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
}

/*
Remove the default font size and weight for headings.
*/

.commerce h1,
.commerce h2,
.commerce h3,
.commerce h4,
.commerce h5,
.commerce h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*
Reset links to optimize for opt-in styling instead of opt-out.
*/

.commerce .commerce a {
  text-decoration: inherit;
}

/*
Add the correct font weight in Edge and Safari.
*/

.commerce b,
.commerce strong {
  font-weight: bolder;
}

/*
1. Use the user's configured `mono` font-family by default.
2. Use the user's configured `mono` font-feature-settings by default.
3. Use the user's configured `mono` font-variation-settings by default.
4. Correct the odd `em` font sizing in all browsers.
*/

.commerce code,
.commerce kbd,
.commerce samp,
.commerce pre {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
  /* 1 */
  font-feature-settings: normal;
  /* 2 */
  font-variation-settings: normal;
  /* 3 */
  font-size: 1em;
  /* 4 */
}

/*
Add the correct font size in all browsers.
*/

.commerce small {
  font-size: 80%;
}

/*
Prevent `sub` and `sup` elements from affecting the line height in all browsers.
*/

.commerce sub,
.commerce sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

.commerce sub {
  bottom: -0.25em;
}

.commerce sup {
  top: -0.5em;
}

/*
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
3. Remove gaps between table borders by default.
*/

.commerce table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
  border-collapse: collapse;
  /* 3 */
}

/*
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
3. Remove default padding in all browsers.
*/

.commerce button,
.commerce input,
.commerce optgroup,
.commerce select,
.commerce textarea {
  font-family: inherit;
  /* 1 */
  font-feature-settings: inherit;
  /* 1 */
  font-variation-settings: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  font-weight: inherit;
  /* 1 */
  line-height: inherit;
  /* 1 */
  letter-spacing: inherit;
  /* 1 */
  color: inherit;
  /* 1 */
  margin: 0;
  /* 2 */
  padding: 0;
  /* 3 */
}

/*
Remove the inheritance of text transform in Edge and Firefox.
*/

.commerce button,
.commerce select {
  text-transform: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Remove default button styles.
*/

.commerce button,
.commerce input:where([type="button"]),
.commerce input:where([type="reset"]),
.commerce input:where([type="submit"]) {
  -webkit-appearance: button;
  /* 1 */
  background-color: transparent;
  /* 2 */
  background-image: none;
  /* 2 */
}

/*
Use the modern Firefox focus style for all focusable elements.
*/

.commerce :-moz-focusring {
  outline: auto;
}

/*
Remove the additional `:invalid` styles in Firefox. (https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737)
*/

.commerce :-moz-ui-invalid {
  box-shadow: none;
}

/*
Add the correct vertical alignment in Chrome and Firefox.
*/

.commerce progress {
  vertical-align: baseline;
}

/*
Correct the cursor style of increment and decrement buttons in Safari.
*/

.commerce ::-webkit-inner-spin-button,
.commerce ::-webkit-outer-spin-button {
  height: auto;
}

/*
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/

.commerce [type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/*
Remove the inner padding in Chrome and Safari on macOS.
*/

.commerce ::-webkit-search-decoration {
  -webkit-appearance: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to `inherit` in Safari.
*/

.commerce ::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Add the correct display in Chrome and Safari.
*/

.commerce summary {
  display: list-item;
}

/*
Removes the default spacing and border for appropriate elements.
*/

.commerce blockquote,
.commerce dl,
.commerce dd,
.commerce h1,
.commerce h2,
.commerce h3,
.commerce h4,
.commerce h5,
.commerce h6,
.commerce hr,
.commerce figure,
.commerce p,
.commerce pre {
  margin: 0;
}

.commerce fieldset {
  margin: 0;
  padding: 0;
}

.commerce legend {
  padding: 0;
}

.commerce ol,
.commerce ul,
.commerce menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

/*
Reset default styling for dialogs.
*/

.commerce dialog {
  padding: 0;
}

/*
Prevent resizing textareas horizontally by default.
*/

.commerce textarea {
  resize: vertical;
}

/*
1. Reset the default placeholder opacity in Firefox. (https://github.com/tailwindlabs/tailwindcss/issues/3300)
2. Set the default placeholder color to the user's configured gray 400 color.
*/

.commerce input::-moz-placeholder,
.commerce textarea::-moz-placeholder {
  opacity: 1;
  /* 1 */
  color: #9ca3af;
  /* 2 */
}

.commerce input::placeholder,
.commerce textarea::placeholder {
  opacity: 1;
  /* 1 */
  color: #9ca3af;
  /* 2 */
}

/*
Set the default cursor for buttons.
*/

.commerce button,
.commerce [role="button"] {
  cursor: pointer;
}

/*
Make sure disabled buttons don't get the pointer cursor.
*/

.commerce :disabled {
  cursor: default;
}

/*
1. Make replaced elements `display: block` by default. (https://github.com/mozdevs/cssremedy/issues/14)
2. Add `vertical-align: middle` to align replaced elements more sensibly by default. (https://github.com/jensimmons/cssremedy/issues/14#issuecomment-634934210)
   This can trigger a poorly considered lint error in some tools but is included by design.
*/

.commerce img,
.commerce svg,
.commerce video,
.commerce canvas,
.commerce audio,
.commerce iframe,
.commerce embed,
.commerce object {
  display: block;
  /* 1 */
  vertical-align: middle;
  /* 2 */
}

/*
Constrain images and videos to the parent width and preserve their intrinsic aspect ratio. (https://github.com/mozdevs/cssremedy/issues/14)
*/

.commerce img,
.commerce video {
  max-width: 100%;
  height: auto;
}

/* Make elements with the HTML hidden attribute stay hidden by default */

.commerce [hidden]:where(:not([hidden="until-found"])) {
  display: none;
}

.commerce .container {
  width: 100%;
}

@media (min-width: 640px) {
  .commerce .container {
    max-width: 640px;
  }
}

@media (min-width: 768px) {
  .commerce .container {
    max-width: 768px;
  }
}

@media (min-width: 1024px) {
  .commerce .container {
    max-width: 1024px;
  }
}

@media (min-width: 1280px) {
  .commerce .container {
    max-width: 1280px;
  }
}

@media (min-width: 1536px) {
  .commerce .container {
    max-width: 1536px;
  }
}

.commerce .absolute {
  position: absolute;
}

.commerce .relative {
  position: relative;
}

.commerce .inset-0 {
  inset: 0px;
}

.commerce .-right-0\.5 {
  right: -0.125rem;
}

.commerce .bottom-0 {
  bottom: 0px;
}

.commerce .top-0 {
  top: 0px;
}

.commerce .float-right {
  float: right;
}

.commerce .clear-right {
  clear: right;
}

.commerce .m-0 {
  margin: 0px;
}

.commerce .m-4 {
  margin: 1rem;
}

.commerce .mx-0 {
  margin-left: 0px;
  margin-right: 0px;
}

.commerce .mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.commerce .my-0 {
  margin-top: 0px;
  margin-bottom: 0px;
}

.commerce .my-auto {
  margin-top: auto;
  margin-bottom: auto;
}

.commerce .mb-1 {
  margin-bottom: 0.25rem;
}

.commerce .mb-3 {
  margin-bottom: 0.75rem;
}

.commerce .mb-4 {
  margin-bottom: 1rem;
}

.commerce .mb-5 {
  margin-bottom: 1.25rem;
}

.commerce .mb-6 {
  margin-bottom: 1.5rem;
}

.commerce .mb-7 {
  margin-bottom: 1.75rem;
}

.commerce .mb-8 {
  margin-bottom: 2rem;
}

.commerce .ml-1 {
  margin-left: 0.25rem;
}

.commerce .ml-1\.5 {
  margin-left: 0.375rem;
}

.commerce .ml-2 {
  margin-left: 0.5rem;
}

.commerce .ml-4 {
  margin-left: 1rem;
}

.commerce .ml-\[120px\] {
  margin-left: 120px;
}

.commerce .mr-0 {
  margin-right: 0px;
}

.commerce .mr-1 {
  margin-right: 0.25rem;
}

.commerce .mr-2 {
  margin-right: 0.5rem;
}

.commerce .mr-2\.5 {
  margin-right: 0.625rem;
}

.commerce .mr-3 {
  margin-right: 0.75rem;
}

.commerce .mr-4 {
  margin-right: 1rem;
}

.commerce .mt-0\.5 {
  margin-top: 0.125rem;
}

.commerce .mt-1 {
  margin-top: 0.25rem;
}

.commerce .mt-2 {
  margin-top: 0.5rem;
}

.commerce .mt-4 {
  margin-top: 1rem;
}

.commerce .mt-6 {
  margin-top: 1.5rem;
}

.commerce .box-border {
  box-sizing: border-box;
}

.commerce .line-clamp-1 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}

.commerce .line-clamp-2 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.commerce .block {
  display: block;
}

.commerce .inline-block {
  display: inline-block;
}

.commerce .inline {
  display: inline;
}

.commerce .flex {
  display: flex;
}

.commerce .inline-flex {
  display: inline-flex;
}

.commerce .grid {
  display: grid;
}

.commerce .hidden {
  display: none;
}

.commerce .size-5 {
  width: 1.25rem;
  height: 1.25rem;
}

.commerce .size-full {
  width: 100%;
  height: 100%;
}

.commerce .h-9 {
  height: 2.25rem;
}

.commerce .h-\[50px\] {
  height: 50px;
}

.commerce .h-\[77px\] {
  height: 77px;
}

.commerce .h-\[78px\] {
  height: 78px;
}

.commerce .h-auto {
  height: auto;
}

.commerce .h-full {
  height: 100%;
}

.commerce .w-3\/4 {
  width: 75%;
}

.commerce .w-6 {
  width: 1.5rem;
}

.commerce .w-\[104px\] {
  width: 104px;
}

.commerce .w-\[220px\] {
  width: 220px;
}

.commerce .w-\[62px\] {
  width: 62px;
}

.commerce .w-fit {
  width: -moz-fit-content;
  width: fit-content;
}

.commerce .w-full {
  width: 100%;
}

.commerce .min-w-0 {
  min-width: 0px;
}

.commerce .min-w-4 {
  min-width: 1rem;
}

.commerce .min-w-60 {
  min-width: 15rem;
}

.commerce .max-w-full {
  max-width: 100%;
}

.commerce .flex-1 {
  flex: 1 1 0%;
}

.commerce .shrink-0 {
  flex-shrink: 0;
}

.commerce .grow {
  flex-grow: 1;
}

.commerce .grow-0 {
  flex-grow: 0;
}

.commerce .origin-center {
  transform-origin: center;
}

.commerce .-translate-y-0\.5 {
  --tw-translate-y: -0.125rem;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y))
    rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y))
    scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.commerce .translate-y-px {
  --tw-translate-y: 1px;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y))
    rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y))
    scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.commerce .rotate-180 {
  --tw-rotate: 180deg;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y))
    rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y))
    scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.commerce .rotate-\[140deg\] {
  --tw-rotate: 140deg;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y))
    rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y))
    scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.commerce .scale-100 {
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y))
    rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y))
    scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.commerce .scale-\[0\.67\] {
  --tw-scale-x: 0.67;
  --tw-scale-y: 0.67;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y))
    rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y))
    scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.commerce .scale-\[0\.92\] {
  --tw-scale-x: 0.92;
  --tw-scale-y: 0.92;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y))
    rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y))
    scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.commerce .scale-x-0 {
  --tw-scale-x: 0;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y))
    rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y))
    scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.commerce .scale-y-100 {
  --tw-scale-y: 1;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y))
    rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y))
    scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

@keyframes fade {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.commerce .animate-\[fade_0\.3s_3\.2s_ease\] {
  animation: fade 0.3s 3.2s ease;
}

.commerce .list-disc {
  list-style-type: disc;
}

.commerce .grid-cols-\[auto_1fr\] {
  grid-template-columns: auto 1fr;
}

.commerce .flex-row {
  flex-direction: row;
}

.commerce .flex-col {
  flex-direction: column;
}

.commerce .flex-wrap {
  flex-wrap: wrap;
}

.commerce .items-center {
  align-items: center;
}

.commerce .justify-end {
  justify-content: flex-end;
}

.commerce .justify-center {
  justify-content: center;
}

.commerce .justify-around {
  justify-content: space-around;
}

.commerce .gap-0\.5 {
  gap: 0.125rem;
}

.commerce .gap-6 {
  gap: 1.5rem;
}

.commerce .space-x-2 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-x-reverse: 0;
  margin-right: calc(0.5rem * var(--tw-space-x-reverse));
  margin-left: calc(0.5rem * calc(1 - var(--tw-space-x-reverse)));
}

.commerce .space-y-6 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(1.5rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(1.5rem * var(--tw-space-y-reverse));
}

.commerce .self-start {
  align-self: flex-start;
}

.commerce .self-end {
  align-self: flex-end;
}

.commerce .overflow-hidden {
  overflow: hidden;
}

.commerce .overflow-visible {
  overflow: visible;
}

.commerce .truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.commerce .text-ellipsis {
  text-overflow: ellipsis;
}

.commerce .whitespace-nowrap {
  white-space: nowrap;
}

.commerce .text-nowrap {
  text-wrap: nowrap;
}

.commerce .break-words {
  overflow-wrap: break-word;
}

.commerce .break-all {
  word-break: break-all;
}

.commerce .rounded {
  border-radius: 0.25rem;
}

.commerce .rounded-\[40px\] {
  border-radius: 40px;
}

.commerce .rounded-full {
  border-radius: 9999px;
}

.commerce .rounded-lg {
  border-radius: 0.5rem;
}

.commerce .rounded-bl-none {
  border-bottom-left-radius: 0px;
}

.commerce .rounded-br-lg {
  border-bottom-right-radius: 0.5rem;
}

.commerce .rounded-tl-lg {
  border-top-left-radius: 0.5rem;
}

.commerce .rounded-tr-none {
  border-top-right-radius: 0px;
}

.commerce .border {
  border-width: 1px;
}

.commerce .border-2 {
  border-width: 2px;
}

.commerce .border-b {
  border-bottom-width: 1px;
}

.commerce .border-t {
  border-top-width: 1px;
}

.commerce .border-t-4 {
  border-top-width: 4px;
}

.commerce .border-solid {
  border-style: solid;
}

.commerce .border-dashed {
  border-style: dashed;
}

.commerce .border-batcave {
  --tw-border-opacity: 1;
  border-color: rgb(35 42 49 / var(--tw-border-opacity));
}

.commerce .border-bob {
  --tw-border-opacity: 1;
  border-color: rgb(176 185 193 / var(--tw-border-opacity));
}

.commerce .border-dirty-seagull {
  --tw-border-opacity: 1;
  border-color: rgb(224 228 233 / var(--tw-border-opacity));
}

.commerce .border-grey-hair {
  --tw-border-opacity: 1;
  border-color: rgb(240 243 245 / var(--tw-border-opacity));
}

.commerce .border-t-batcave {
  --tw-border-opacity: 1;
  border-top-color: rgb(35 42 49 / var(--tw-border-opacity));
}

.commerce .border-t-battleship {
  --tw-border-opacity: 1;
  border-top-color: rgb(91 99 106 / var(--tw-border-opacity));
}

.commerce .bg-bonsai {
  --tw-bg-opacity: 1;
  background-color: rgb(0 135 60 / var(--tw-bg-opacity));
}

.commerce .bg-hulk-pants {
  --tw-bg-opacity: 1;
  background-color: rgb(126 31 255 / var(--tw-bg-opacity));
}

.commerce .bg-inkwell {
  --tw-bg-opacity: 1;
  background-color: rgb(29 34 40 / var(--tw-bg-opacity));
}

.commerce .bg-marshmallow {
  --tw-bg-opacity: 1;
  background-color: rgb(245 248 250 / var(--tw-bg-opacity));
}

.commerce .bg-transparent {
  background-color: transparent;
}

.commerce .bg-white {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}

.commerce .bg-white\/90 {
  background-color: rgb(255 255 255 / 0.9);
}

.commerce .fill-batcave {
  fill: #232a31;
}

.commerce .fill-battleship {
  fill: #5b636a;
}

.commerce .fill-ninja-turtle {
  fill: #00ab5e;
}

.commerce .fill-none {
  fill: none;
}

.commerce .fill-solo-cup {
  fill: #eb0f29;
}

.commerce .fill-white {
  fill: #fff;
}

.commerce .stroke-bonsai {
  stroke: #00873c;
}

.commerce .stroke-carrot-juice {
  stroke: #ff520d;
}

.commerce .stroke-dirty-seagull {
  stroke: #e0e4e9;
}

.commerce .stroke-spirulina {
  stroke: #009c94;
}

.commerce .stroke-turmeric {
  stroke: #ffa700;
}

.commerce .object-contain {
  -o-object-fit: contain;
  object-fit: contain;
}

.commerce .object-cover {
  -o-object-fit: cover;
  object-fit: cover;
}

.commerce .p-3 {
  padding: 0.75rem;
}

.commerce .p-5 {
  padding: 1.25rem;
}

.commerce .px-3 {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

.commerce .px-7 {
  padding-left: 1.75rem;
  padding-right: 1.75rem;
}

.commerce .py-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.commerce .py-3 {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.commerce .py-5 {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}

.commerce .pb-1 {
  padding-bottom: 0.25rem;
}

.commerce .pb-6 {
  padding-bottom: 1.5rem;
}

.commerce .pb-\[75\%\] {
  padding-bottom: 75%;
}

.commerce .pl-6 {
  padding-left: 1.5rem;
}

.commerce .pr-0 {
  padding-right: 0px;
}

.commerce .pr-1 {
  padding-right: 0.25rem;
}

.commerce .pr-2 {
  padding-right: 0.5rem;
}

.commerce .pr-2\.5 {
  padding-right: 0.625rem;
}

.commerce .pt-2 {
  padding-top: 0.5rem;
}

.commerce .pt-5 {
  padding-top: 1.25rem;
}

.commerce .text-center {
  text-align: center;
}

.commerce .align-top {
  vertical-align: top;
}

.commerce .font-\[\'Yahoo_Sans_Cond\'\] {
  font-family: "Yahoo Sans Cond";
}

.commerce .text-2xl\/7 {
  font-size: 1.5rem;
  line-height: 1.75rem;
}

.commerce .text-\[10px\]\/3 {
  font-size: 10px;
  line-height: 0.75rem;
}

.commerce .text-base {
  font-size: 1rem;
  line-height: 1.5rem;
}

.commerce .text-base\/5 {
  font-size: 1rem;
  line-height: 1.25rem;
}

.commerce .text-base\/relaxed {
  font-size: 1rem;
  line-height: 1.625;
}

.commerce .text-lg {
  font-size: 1.125rem;
  line-height: 1.75rem;
}

.commerce .text-lg\/6 {
  font-size: 1.125rem;
  line-height: 1.5rem;
}

.commerce .text-sm {
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.commerce .text-sm\/4 {
  font-size: 0.875rem;
  line-height: 1rem;
}

.commerce .text-xl\/6 {
  font-size: 1.25rem;
  line-height: 1.5rem;
}

.commerce .text-xl\/\[1\.3\] {
  font-size: 1.25rem;
  line-height: 1.3;
}

.commerce .text-xs {
  font-size: 0.75rem;
  line-height: 1rem;
}

.commerce .text-xs\/5 {
  font-size: 0.75rem;
  line-height: 1.25rem;
}

.commerce .text-xs\/none {
  font-size: 0.75rem;
  line-height: 1;
}

.commerce .font-bold {
  font-weight: 700;
}

.commerce .font-medium {
  font-weight: 500;
}

.commerce .font-normal {
  font-weight: 400;
}

.commerce .font-semibold {
  font-weight: 600;
}

.commerce .uppercase {
  text-transform: uppercase;
}

.commerce .leading-5 {
  line-height: 1.25rem;
}

.commerce .leading-relaxed {
  line-height: 1.625;
}

.commerce .text-batcave {
  --tw-text-opacity: 1;
  color: rgb(35 42 49 / var(--tw-text-opacity));
}

.commerce .text-battleship {
  --tw-text-opacity: 1;
  color: rgb(91 99 106 / var(--tw-text-opacity));
}

.commerce .text-ec-primary {
  --tw-text-opacity: 1;
  color: rgb(35 42 50 / var(--tw-text-opacity));
}

.commerce .text-grape-jelly {
  --tw-text-opacity: 1;
  color: rgb(96 1 210 / var(--tw-text-opacity));
}

.commerce .text-solo-cup {
  --tw-text-opacity: 1;
  color: rgb(235 15 41 / var(--tw-text-opacity));
}

.commerce .text-white {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

.commerce .line-through {
  text-decoration-line: line-through;
}

.commerce .opacity-0 {
  opacity: 0;
}

.commerce .opacity-100 {
  opacity: 1;
}

.commerce .transition {
  transition-property:
    color,
    background-color,
    border-color,
    text-decoration-color,
    fill,
    stroke,
    opacity,
    box-shadow,
    transform,
    filter,
    -webkit-backdrop-filter;
  transition-property: color, background-color, border-color,
    text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter,
    backdrop-filter;
  transition-property:
    color,
    background-color,
    border-color,
    text-decoration-color,
    fill,
    stroke,
    opacity,
    box-shadow,
    transform,
    filter,
    backdrop-filter,
    -webkit-backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.commerce .transition-\[stroke-dashoffset\] {
  transition-property: stroke-dashoffset;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.commerce .transition-transform {
  transition-property: transform;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.commerce .delay-0 {
  transition-delay: 0s;
}

.commerce .delay-\[450ms\] {
  transition-delay: 450ms;
}

.commerce .duration-200 {
  transition-duration: 200ms;
}

.commerce .duration-300 {
  transition-duration: 300ms;
}

.commerce .duration-\[350ms\] {
  transition-duration: 350ms;
}

.commerce .ease-\[ease\] {
  transition-timing-function: ease;
}

.commerce .ease-in-out {
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.commerce .\@container\/p {
  container-type: inline-size;
  container-name: p;
}

.commerce .\[box-shadow\:0_4px_8px_0_rgb\(0_0_0\/10\%\)\] {
  box-shadow: 0 4px 8px 0 rgb(0 0 0/10%);
}

.commerce .\*\:w-full > * {
  width: 100%;
}

.after\:block::after {
  content: var(--tw-content);
  display: block;
}

.after\:border-t-4::after {
  content: var(--tw-content);
  border-top-width: 4px;
}

.after\:border-batcave::after {
  content: var(--tw-content);
  --tw-border-opacity: 1;
  border-color: rgb(35 42 49 / var(--tw-border-opacity));
}

.commerce .hover\:cursor-pointer:hover {
  cursor: pointer;
}

.commerce .hover\:bg-black\/10:hover {
  background-color: rgb(0 0 0 / 0.1);
}

.commerce .hover\:bg-charcoal:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(70 78 86 / var(--tw-bg-opacity));
}

.commerce .hover\:text-batcave:hover {
  --tw-text-opacity: 1;
  color: rgb(35 42 49 / var(--tw-text-opacity));
}

.commerce .hover\:text-battleship:hover {
  --tw-text-opacity: 1;
  color: rgb(91 99 106 / var(--tw-text-opacity));
}

.commerce .hover\:text-dory:hover {
  --tw-text-opacity: 1;
  color: rgb(15 105 255 / var(--tw-text-opacity));
}

.commerce .hover\:text-gandalf:hover {
  --tw-text-opacity: 1;
  color: rgb(151 158 168 / var(--tw-text-opacity));
}

.commerce .hover\:text-grey-hair:hover {
  --tw-text-opacity: 1;
  color: rgb(240 243 245 / var(--tw-text-opacity));
}

.commerce .hover\:underline:hover {
  text-decoration-line: underline;
}

.commerce .hover\:no-underline:hover {
  text-decoration-line: none;
}

.commerce .hover\:opacity-100:hover {
  opacity: 1;
}

.commerce .focus\:scale-105:focus {
  --tw-scale-x: 1.05;
  --tw-scale-y: 1.05;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y))
    rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y))
    scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.commerce .focus\:bg-black\/10:focus {
  background-color: rgb(0 0 0 / 0.1);
}

.commerce .focus\:text-battleship:focus {
  --tw-text-opacity: 1;
  color: rgb(91 99 106 / var(--tw-text-opacity));
}

.commerce .focus\:text-dory:focus {
  --tw-text-opacity: 1;
  color: rgb(15 105 255 / var(--tw-text-opacity));
}

.commerce .focus\:underline:focus {
  text-decoration-line: underline;
}

.commerce .active\:bg-black\/10:active {
  background-color: rgb(0 0 0 / 0.1);
}

.commerce .active\:bg-charcoal:active {
  --tw-bg-opacity: 1;
  background-color: rgb(70 78 86 / var(--tw-bg-opacity));
}

.commerce .active\:text-battleship:active {
  --tw-text-opacity: 1;
  color: rgb(91 99 106 / var(--tw-text-opacity));
}

.commerce .active\:text-bob:active {
  --tw-text-opacity: 1;
  color: rgb(176 185 193 / var(--tw-text-opacity));
}

.commerce .active\:text-dory:active {
  --tw-text-opacity: 1;
  color: rgb(15 105 255 / var(--tw-text-opacity));
}

.commerce .active\:text-gandalf:active {
  --tw-text-opacity: 1;
  color: rgb(151 158 168 / var(--tw-text-opacity));
}

.commerce .active\:text-grey-hair:active {
  --tw-text-opacity: 1;
  color: rgb(240 243 245 / var(--tw-text-opacity));
}

.commerce .active\:opacity-60:active {
  opacity: 0.6;
}

.commerce .group\/expandBtn:hover .group-hover\/expandBtn\:fill-gandalf {
  fill: #979ea8;
}

.commerce .group:hover .group-hover\:fill-battleship {
  fill: #5b636a;
}

.commerce .group:focus .group-focus\:fill-battleship {
  fill: #5b636a;
}

.commerce .group:active .group-active\:fill-battleship {
  fill: #5b636a;
}

.commerce
  .group:hover:not(:has(.copyCouponCode:hover, .additionalMiniCTA:hover))
  .group-\[\:hover\:not\(\:has\(\.copyCouponCode\:hover\2c
  \.additionalMiniCTA\:hover\)\)\]\:scale-105 {
  --tw-scale-x: 1.05;
  --tw-scale-y: 1.05;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y))
    rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y))
    scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.commerce
  .group:hover:not(:has(.copyCouponCode:hover, .additionalMiniCTA:hover))
  .group-\[\:hover\:not\(\:has\(\.copyCouponCode\:hover\2c
  \.additionalMiniCTA\:hover\)\)\]\:bg-black\/10 {
  background-color: rgb(0 0 0 / 0.1);
}

.commerce
  .group:hover:not(:has(.copyCouponCode:hover, .additionalMiniCTA:hover))
  .group-\[\:hover\:not\(\:has\(\.copyCouponCode\:hover\2c
  \.additionalMiniCTA\:hover\)\)\]\:text-dory {
  --tw-text-opacity: 1;
  color: rgb(15 105 255 / var(--tw-text-opacity));
}

.commerce
  .group:hover:not(:has(.copyCouponCode:hover, .additionalMiniCTA:hover))
  .group-\[\:hover\:not\(\:has\(\.copyCouponCode\:hover\2c
  \.additionalMiniCTA\:hover\)\)\]\:underline {
  text-decoration-line: underline;
}

.commerce .peer ~ .peer-\[\&\]\:mt-3 {
  margin-top: 0.75rem;
}

.commerce .peer ~ .peer-\[\&\]\:mt-4 {
  margin-top: 1rem;
}

@container p (min-width: 36rem) {
  .commerce .\@xl\/p\:relative {
    position: relative;
  }

  .commerce .\@xl\/p\:left-0 {
    left: 0px;
  }

  .commerce .\@xl\/p\:right-auto {
    right: auto;
  }

  .commerce .\@xl\/p\:mb-0 {
    margin-bottom: 0px;
  }

  .commerce .\@xl\/p\:ml-0 {
    margin-left: 0px;
  }

  .commerce .\@xl\/p\:ml-3 {
    margin-left: 0.75rem;
  }

  .commerce .\@xl\/p\:ml-5 {
    margin-left: 1.25rem;
  }

  .commerce .\@xl\/p\:mr-3 {
    margin-right: 0.75rem;
  }

  .commerce .\@xl\/p\:mr-4 {
    margin-right: 1rem;
  }

  .commerce .\@xl\/p\:mt-0 {
    margin-top: 0px;
  }

  .commerce .\@xl\/p\:line-clamp-1 {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
  }

  .commerce .\@xl\/p\:line-clamp-3 {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
  }

  .commerce .\@xl\/p\:flex {
    display: flex;
  }

  .commerce .\@xl\/p\:h-\[165px\] {
    height: 165px;
  }

  .commerce .\@xl\/p\:h-\[90px\] {
    height: 90px;
  }

  .commerce .\@xl\/p\:h-\[92px\] {
    height: 92px;
  }

  .commerce .\@xl\/p\:min-h-32 {
    min-height: 8rem;
  }

  .commerce .\@xl\/p\:w-9\/12 {
    width: 75%;
  }

  .commerce .\@xl\/p\:w-\[120px\] {
    width: 120px;
  }

  .commerce .\@xl\/p\:w-\[220px\] {
    width: 220px;
  }

  .commerce .\@xl\/p\:w-\[72px\] {
    width: 72px;
  }

  .commerce .\@xl\/p\:w-auto {
    width: auto;
  }

  .commerce .\@xl\/p\:w-full {
    width: 100%;
  }

  .commerce .\@xl\/p\:flex-none {
    flex: none;
  }

  .commerce .\@xl\/p\:grow {
    flex-grow: 1;
  }

  .commerce .\@xl\/p\:flex-row {
    flex-direction: row;
  }

  .commerce .\@xl\/p\:flex-col {
    flex-direction: column;
  }

  .commerce .\@xl\/p\:flex-col-reverse {
    flex-direction: column-reverse;
  }

  .commerce .\@xl\/p\:items-center {
    align-items: center;
  }

  .commerce .\@xl\/p\:justify-start {
    justify-content: flex-start;
  }

  .commerce .\@xl\/p\:justify-center {
    justify-content: center;
  }

  .commerce .\@xl\/p\:gap-1 {
    gap: 0.25rem;
  }

  .commerce .\@xl\/p\:gap-6 {
    gap: 1.5rem;
  }

  .commerce .\@xl\/p\:gap-y-2 {
    row-gap: 0.5rem;
  }

  .commerce .\@xl\/p\:self-auto {
    align-self: auto;
  }

  .commerce .\@xl\/p\:rounded-bl-lg {
    border-bottom-left-radius: 0.5rem;
  }

  .commerce .\@xl\/p\:rounded-br-none {
    border-bottom-right-radius: 0px;
  }

  .commerce .\@xl\/p\:rounded-tl-none {
    border-top-left-radius: 0px;
  }

  .commerce .\@xl\/p\:rounded-tr-lg {
    border-top-right-radius: 0.5rem;
  }

  .commerce .\@xl\/p\:border-b-0 {
    border-bottom-width: 0px;
  }

  .commerce .\@xl\/p\:border-r-2 {
    border-right-width: 2px;
  }

  .commerce .\@xl\/p\:pb-0 {
    padding-bottom: 0px;
  }

  .commerce .\@xl\/p\:pb-\[56\.25\%\] {
    padding-bottom: 56.25%;
  }

  .commerce .\@xl\/p\:pr-4 {
    padding-right: 1rem;
  }

  .commerce .\@xl\/p\:text-left {
    text-align: left;
  }

  .commerce .\@xl\/p\:text-2xl\/tight {
    font-size: 1.5rem;
    line-height: 1.25;
  }

  .commerce .\@xl\/p\:text-\[32px\]\/9 {
    font-size: 32px;
    line-height: 2.25rem;
  }

  .commerce .\@xl\/p\:text-lg\/\[30px\] {
    font-size: 1.125rem;
    line-height: 30px;
  }

  .commerce .\@xl\/p\:text-sm {
    font-size: 0.875rem;
    line-height: 1.25rem;
  }

  .commerce .\@xl\/p\:transition-transform {
    transition-property: transform;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
  }

  .commerce .\@xl\/p\:duration-300 {
    transition-duration: 300ms;
  }

  .commerce .\@xl\/p\:ease-in-out {
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  .commerce .group:hover .\@xl\/p\:group-hover\:scale-110 {
    --tw-scale-x: 1.1;
    --tw-scale-y: 1.1;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y))
      rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y))
      scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  }

  .commerce .peer ~ .\@xl\/p\:peer-\[\&\]\:mt-3 {
    margin-top: 0.75rem;
  }
}

@container (min-width: 36rem) {
  .commerce .\@xl\:ml-0 {
    margin-left: 0px;
  }

  .commerce .\@xl\:h-\[90px\] {
    height: 90px;
  }

  .commerce .\@xl\:max-w-48 {
    max-width: 12rem;
  }

  .commerce .\@xl\:flex-row {
    flex-direction: row;
  }
}

@container p (min-width: 36rem) {
  @media (prefers-reduced-motion: reduce) {
    .commerce
      .group:hover
      .\@xl\/p\:motion-reduce\:group-hover\:transition-none {
      transition-property: none;
    }
  }
}

@media (min-width: 640px) {
  .commerce .sm\:text-sm {
    font-size: 0.875rem;
    line-height: 1.25rem;
  }

  .commerce .\*\:sm\:max-w-\[190px\] > * {
    max-width: 190px;
  }
}

@media (min-width: 768px) {
  .commerce .md\:mb-0 {
    margin-bottom: 0px;
  }

  .commerce .md\:mt-0 {
    margin-top: 0px;
  }

  .commerce .md\:inline {
    display: inline;
  }

  .commerce .md\:size-6 {
    width: 1.5rem;
    height: 1.5rem;
  }

  .commerce .md\:flex-row {
    flex-direction: row;
  }

  .commerce .md\:self-center {
    align-self: center;
  }

  .commerce .md\:border-b-0 {
    border-bottom-width: 0px;
  }

  .commerce .md\:border-r {
    border-right-width: 1px;
  }

  .commerce .md\:py-2 {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }

  .commerce .md\:pr-3 {
    padding-right: 0.75rem;
  }

  .commerce .md\:pt-7 {
    padding-top: 1.75rem;
  }

  .commerce .md\:text-2xl {
    font-size: 1.5rem;
    line-height: 2rem;
  }

  .commerce .md\:text-base {
    font-size: 1rem;
    line-height: 1.5rem;
  }

  .commerce .md\:text-lg\/8 {
    font-size: 1.125rem;
    line-height: 2rem;
  }

  .commerce .md\:text-sm {
    font-size: 0.875rem;
    line-height: 1.25rem;
  }

  .commerce .md\:leading-8 {
    line-height: 2rem;
  }
}

@media (prefers-color-scheme: dark) {
  .commerce .theme-dark .dark\:border-battleship {
    --tw-border-opacity: 1;
    border-color: rgb(91 99 106 / var(--tw-border-opacity));
  }

  .commerce .theme-dark .dark\:border-charcoal {
    --tw-border-opacity: 1;
    border-color: rgb(70 78 86 / var(--tw-border-opacity));
  }

  .commerce .theme-dark .dark\:border-dolphin {
    --tw-border-opacity: 1;
    border-color: rgb(110 119 128 / var(--tw-border-opacity));
  }

  .commerce .theme-dark .dark\:border-grey-hair {
    --tw-border-opacity: 1;
    border-color: rgb(240 243 245 / var(--tw-border-opacity));
  }

  .commerce .theme-dark .dark\:border-t-bob {
    --tw-border-opacity: 1;
    border-top-color: rgb(176 185 193 / var(--tw-border-opacity));
  }

  .commerce .theme-dark .dark\:bg-batcave {
    --tw-bg-opacity: 1;
    background-color: rgb(35 42 49 / var(--tw-bg-opacity));
  }

  .commerce .theme-dark .dark\:bg-mulah {
    --tw-bg-opacity: 1;
    background-color: rgb(26 197 103 / var(--tw-bg-opacity));
  }

  .commerce .theme-dark .dark\:bg-white {
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255 / var(--tw-bg-opacity));
  }

  .commerce .theme-dark .dark\:fill-bob {
    fill: #b0b9c1;
  }

  .commerce .theme-dark .dark\:fill-grey-hair {
    fill: #f0f3f5;
  }

  .commerce .theme-dark .dark\:fill-mulah {
    fill: #1ac567;
  }

  .commerce .theme-dark .dark\:fill-watermelon {
    fill: #ff4d52;
  }

  .commerce .theme-dark .dark\:stroke-cheetos {
    stroke: #ff6e0c;
  }

  .commerce .theme-dark .dark\:stroke-mulah {
    stroke: #1ac567;
  }

  .commerce .theme-dark .dark\:stroke-ramones {
    stroke: #2c363f;
  }

  .commerce .theme-dark .dark\:stroke-sea-foam {
    stroke: #11d3cd;
  }

  .commerce .theme-dark .dark\:text-\[\#ff5257\] {
    --tw-text-opacity: 1;
    color: rgb(255 82 87 / var(--tw-text-opacity));
  }

  .commerce .theme-dark .dark\:text-batcave {
    --tw-text-opacity: 1;
    color: rgb(35 42 49 / var(--tw-text-opacity));
  }

  .commerce .theme-dark .dark\:text-bob {
    --tw-text-opacity: 1;
    color: rgb(176 185 193 / var(--tw-text-opacity));
  }

  .commerce .theme-dark .dark\:text-gandalf {
    --tw-text-opacity: 1;
    color: rgb(151 158 168 / var(--tw-text-opacity));
  }

  .commerce .theme-dark .dark\:text-grey-hair {
    --tw-text-opacity: 1;
    color: rgb(240 243 245 / var(--tw-text-opacity));
  }

  .commerce .theme-dark .dark\:text-thanos {
    --tw-text-opacity: 1;
    color: rgb(144 124 255 / var(--tw-text-opacity));
  }

  .commerce .theme-dark .dark\:after\:border-grey-hair::after {
    content: var(--tw-content);
    --tw-border-opacity: 1;
    border-color: rgb(240 243 245 / var(--tw-border-opacity));
  }

  .commerce .theme-dark .dark\:hover\:bg-bob:hover {
    --tw-bg-opacity: 1;
    background-color: rgb(176 185 193 / var(--tw-bg-opacity));
  }

  .commerce .theme-dark .dark\:hover\:bg-white\/10:hover {
    background-color: rgb(255 255 255 / 0.1);
  }

  .commerce .theme-dark .dark\:hover\:text-\[\#a49c95\]:hover {
    --tw-text-opacity: 1;
    color: rgb(164 156 149 / var(--tw-text-opacity));
  }

  .commerce .theme-dark .dark\:hover\:text-bob:hover {
    --tw-text-opacity: 1;
    color: rgb(176 185 193 / var(--tw-text-opacity));
  }

  .commerce .theme-dark .dark\:hover\:text-dolphin:hover {
    --tw-text-opacity: 1;
    color: rgb(110 119 128 / var(--tw-text-opacity));
  }

  .commerce .theme-dark .dark\:hover\:text-sky:hover {
    --tw-text-opacity: 1;
    color: rgb(18 169 255 / var(--tw-text-opacity));
  }

  .commerce .theme-dark .dark\:focus\:bg-bob:focus {
    --tw-bg-opacity: 1;
    background-color: rgb(176 185 193 / var(--tw-bg-opacity));
  }

  .commerce .theme-dark .dark\:focus\:bg-white\/10:focus {
    background-color: rgb(255 255 255 / 0.1);
  }

  .commerce .theme-dark .dark\:focus\:text-bob:focus {
    --tw-text-opacity: 1;
    color: rgb(176 185 193 / var(--tw-text-opacity));
  }

  .commerce .theme-dark .dark\:active\:bg-bob:active {
    --tw-bg-opacity: 1;
    background-color: rgb(176 185 193 / var(--tw-bg-opacity));
  }

  .commerce .theme-dark .dark\:active\:bg-white\/10:active {
    background-color: rgb(255 255 255 / 0.1);
  }

  .commerce .theme-dark .dark\:active\:text-battleship:active {
    --tw-text-opacity: 1;
    color: rgb(91 99 106 / var(--tw-text-opacity));
  }

  .commerce .theme-dark .dark\:active\:text-bob:active {
    --tw-text-opacity: 1;
    color: rgb(176 185 193 / var(--tw-text-opacity));
  }

  .commerce
    .theme-dark
    .group\/expandBtn:hover
    .dark\:group-hover\/expandBtn\:fill-dolphin {
    fill: #6e7780;
  }

  .commerce .theme-dark .group:hover .dark\:group-hover\:fill-bob {
    fill: #b0b9c1;
  }

  .commerce .theme-dark .group:focus .dark\:group-focus\:fill-bob {
    fill: #b0b9c1;
  }

  .commerce .theme-dark .group:active .dark\:group-active\:fill-bob {
    fill: #b0b9c1;
  }

  .commerce
    .theme-dark
    .group:hover:not(:has(.copyCouponCode:hover, .additionalMiniCTA:hover))
    .dark\:group-\[\:hover\:not\(\:has\(\.copyCouponCode\:hover\2c
    \.additionalMiniCTA\:hover\)\)\]\:bg-white\/10 {
    background-color: rgb(255 255 255 / 0.1);
  }

  .commerce
    .theme-dark
    .group:hover:not(:has(.copyCouponCode:hover, .additionalMiniCTA:hover))
    .dark\:group-\[\:hover\:not\(\:has\(\.copyCouponCode\:hover\2c
    \.additionalMiniCTA\:hover\)\)\]\:text-sky {
    --tw-text-opacity: 1;
    color: rgb(18 169 255 / var(--tw-text-opacity));
  }
}

.commerce .\[\&\&\]\:mt-3.\[\&\&\]\:mt-3 {
  margin-top: 0.75rem;
}

.commerce .\[\&\&\]\:px-5.\[\&\&\]\:px-5 {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

.commerce .\[\&\&\]\:py-1.\[\&\&\]\:py-1 {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

@container p (min-width: 36rem) {
  .commerce .\@xl\/p\:\[\&\&\]\:mt-2.\@xl\/p\:\[\&\&\]\:mt-2 {
    margin-top: 0.5rem;
  }
}

.\[\&\+\.miniModule\]\:border-t + .miniModule {
  border-top-width: 1px;
}

.\[\&\+\.miniModule\]\:border-dirty-seagull + .miniModule {
  --tw-border-opacity: 1;
  border-color: rgb(224 228 233 / var(--tw-border-opacity));
}

@media (prefers-color-scheme: dark) {
  .theme-dark .dark\:\[\&\+\.miniModule\]\:border-charcoal + .miniModule {
    --tw-border-opacity: 1;
    border-color: rgb(70 78 86 / var(--tw-border-opacity));
  }
}

.\[\&\+\.productModule\]\:mt-9 + .productModule {
  margin-top: 2.25rem;
}

.\[\&\+\.productModule\]\:border-t + .productModule {
  border-top-width: 1px;
}

.\[\&\+\.productModule\]\:border-dirty-seagull + .productModule {
  --tw-border-opacity: 1;
  border-color: rgb(224 228 233 / var(--tw-border-opacity));
}

.\[\&\+\.productModule\]\:pt-2 + .productModule {
  padding-top: 0.5rem;
}

.\[\&\+\:not\(\.productModule\)\]\:mt-10 + :not(.productModule) {
  margin-top: 2.5rem;
}

.commerce .\[\&\>svg\]\:size-\[11px\] > svg {
  width: 11px;
  height: 11px;
}

.commerce .\[\&\]\:w-\[220px\] {
  width: 220px;
}

.commerce .\[\&\]\:min-w-0 {
  min-width: 0px;
}

.commerce .\[\&\]\:text-\[11px\]\/3 {
  font-size: 11px;
  line-height: 0.75rem;
}

.commerce .\[\&\]\:font-semibold {
  font-weight: 600;
}

.commerce .\[\&_a\]\:text-batcave a {
  --tw-text-opacity: 1;
  color: rgb(35 42 49 / var(--tw-text-opacity));
}

.commerce .\[\&_a\]\:underline a {
  text-decoration-line: underline;
}

@media (prefers-color-scheme: dark) {
  .commerce .theme-dark .dark\:\[\&_a\]\:text-grey-hair a {
    --tw-text-opacity: 1;
    color: rgb(240 243 245 / var(--tw-text-opacity));
  }
}

.commerce {
  line-height: 1.5;
}
